# <center><b><i> Real Time Scenarios </i></b></center>


<br>

1. Remove double quotes from value of json string using Pyspark

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [3]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [24]:
jsonString = '{"Id": "1", "Name":"Manoj"Kumar", "City": "Belur"}'
data = [
    (1, jsonString)
]
cols = ["SlNo", "Data"]

df = spark.createDataFrame(data, cols)
df.show()

+----+--------------------+
|SlNo|                Data|
+----+--------------------+
|   1|{"Id": "1", "Name...|
+----+--------------------+

In [25]:
display(df)

DataFrame[SlNo: bigint, Data: string]

In [26]:
df.show(truncate=False)

+----+--------------------------------------------------+
|SlNo|Data                                              |
+----+--------------------------------------------------+
|1   |{"Id": "1", "Name":"Manoj"Kumar", "City": "Belur"}|
+----+--------------------------------------------------+

In [27]:
from pyspark.sql.functions import split, col, lit

In [28]:
df = df.withColumn("col3", split(col('Data'),'"Name":"')[0])\
.withColumn("col4", lit('"Name":"'))\
.withColumn("col5",split(col('Data'), '"Name":"')[1])

df.show(truncate=False)

+----+--------------------------------------------------+------------+--------+------------------------------+
|SlNo|Data                                              |col3        |col4    |col5                          |
+----+--------------------------------------------------+------------+--------+------------------------------+
|1   |{"Id": "1", "Name":"Manoj"Kumar", "City": "Belur"}|{"Id": "1", |"Name":"|Manoj"Kumar", "City": "Belur"}|
+----+--------------------------------------------------+------------+--------+------------------------------+

In [30]:
from pyspark.sql.functions import *

In [32]:
df = df.withColumn("col6", split(col("col5"), '"', 2))
df = df.withColumn("col7", concat_ws('', col("col6")))

df.show(truncate=False)

+----+--------------------------------------------------+------------+--------+------------------------------+---------------------------------+-----------------------------+
|SlNo|Data                                              |col3        |col4    |col5                          |col6                             |col7                         |
+----+--------------------------------------------------+------------+--------+------------------------------+---------------------------------+-----------------------------+
|1   |{"Id": "1", "Name":"Manoj"Kumar", "City": "Belur"}|{"Id": "1", |"Name":"|Manoj"Kumar", "City": "Belur"}|[Manoj, Kumar", "City": "Belur"}]|ManojKumar", "City": "Belur"}|
+----+--------------------------------------------------+------------+--------+------------------------------+---------------------------------+-----------------------------+

In [33]:
df = df.withColumn("col8", concat(col("col3"), col("col4"), col("col7"))).select(col("Data"),col("col8"))

In [34]:
df.show(truncate = False)

+--------------------------------------------------+-------------------------------------------------+
|Data                                              |col8                                             |
+--------------------------------------------------+-------------------------------------------------+
|{"Id": "1", "Name":"Manoj"Kumar", "City": "Belur"}|{"Id": "1", "Name":"ManojKumar", "City": "Belur"}|
+--------------------------------------------------+-------------------------------------------------+