In [1]:
import math
math.sqrt(49)

7.0

## Arrays

Exercise: Array DataStructure
Let us say your expense for every month are listed below,
1. January - 2200
2. February - 2350
3. March - 2600
4. April - 2130
5. May - 2190


Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3.Find out if you spent exactly 2000 dollars in any month
4.June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5.You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [2]:
exp = {
    "January": 2200,
    "Febraury": 2350,
    "March": 2600,
    "April": 2130,
    "May": 2190
}
exp

{'January': 2200, 'Febraury': 2350, 'March': 2600, 'April': 2130, 'May': 2190}

In [3]:
print("1. Dollars extra spent is ::",exp["Febraury"]-exp["January"])

1. Dollars extra spent is :: 150

In [4]:
exp_first_quarter = sum(exp[key] for key in ['January','Febraury','March'])
print("2. Expense of the first quarter will be :: ",exp_first_quarter)

2. Expense of the first quarter will be ::  7150

In [5]:
# 3. Find out if you spent exactly 2000 dollars in any month

for i in exp:
    if exp[i] != 2000:
        continue
    print("In ",i, " you have spent 2000 dollars congrats which is lowest in recent times")

In [6]:
exp["June"] = 1980
print("Added new expense to the list")
exp

Added new expense to the list

{'January': 2200,
 'Febraury': 2350,
 'March': 2600,
 'April': 2130,
 'May': 2190,
 'June': 1980}

In [7]:
#exp["April"] = exp["April"] - 200
print("Removed the refunded amount from expense")
exp

Removed the refunded amount from expense

{'January': 2200,
 'Febraury': 2350,
 'March': 2600,
 'April': 2130,
 'May': 2190,
 'June': 1980}

In [8]:
#You have a list of your favourite marvel super heros.
#heros=['spider man','thor','hulk','iron man','captain america']
# Using this find out,

# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [9]:
heros=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list
print(len(heros))
# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
heros[1:3]=['doctor strange']
print(heros)
# 5. Sort the list in alphabetical order
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [10]:
#Create a list of all odd numbers between 1 and a max number. Max number is something you 
#need to take from a user using input() function

In [11]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 10
Odd numbers:  [1, 3, 5, 7, 9]

## Linked List

In [16]:
class Node:
    def __init__(self, data = None, next = None):
        self.data = data
        self.next = next
        
    def __str__(self):
        return f"{type(self).__name__} object - {vars(self)}"
        
class LinkedList:
    def __init__(self):
        self.head = None
        
    def __str__(self):
        return f"{type(self).__name__} object - {vars(self)}"
        
    def insert_at_beginning(self,data):
        node = Node(data, self.head)
        #print(node)
        self.head = node
        
    def insert_at_end(self,data):
        if self.head is None:
            self.head = Node(data, None)
            return
        
        itr = self.head
        while itr.next:
            itr = itr.next
            
        itr.next = Node(data, None)
        
    def print(self):
        
        if self.head is None:
            print("Linked List is empty")
            return
        
        itr = self.head
        print("itr is :::: ",itr)
        llstr = ''
        
        while itr:
            llstr += str(itr.data) + '-->'
            itr = itr.next
            
        print()
        print("The final Linked List is :: ",llstr)
        
    def insert_values(self,data_list):
        self.head = None
        for data in data_list:
            self.insert_at_end(data)
            
    def length_ll(self):
        count = 0
        itr = self.head
        while itr:
            count+=1
            itr = itr.next
            
        print("The Length of linked list is :: ",count)
        return count
        
        
    def remove_element(self,index):
        len_ll = self.length_ll()
        if len_ll <=  index or index < 0:
            raise Exception("Invalid index")
        elif index == 0:
            self.head = self.head.next
            return
        
        else:
            count = 0
            itr = self.head
            while itr:
                if count == index-1:
                    itr.next = itr.next.next
                    break
                itr = itr.next
                count+=1
                
    def insert_at(self,index,data):
        len_ll = self.length_ll()
        if len_ll <=  index or index < 0:
            raise Exception("Invalid index")
        elif index == 0:
            self.insert_at_beginning(data)
            return
        
        count = 0
        itr = self.head
        
        while itr:
            if count == index-1:
                node = Node(data, itr.next)
                itr.next = node
                break
            itr= itr.next
            count +=1
            
    def insert_after_value(self, data_after, data_to_insert):
        # Search for first occurance of data_after value in linked list
        # Now insert data_to_insert after data_after node
        if self.head == None:
            return "Value data_after isnt even present"
        
        itr = self.head
        
        while itr.data != data_after:
            itr = itr.next
        
        node = Node(data_to_insert,itr.next)
        itr.next = node
        
    def remove_by_value(self, data):
        # Remove first node that contains data
        
        if self.head == None:
            return "Linked list is empty, no values present to be deleted"
        
        if self.head.data == data:
            self.head.data = None
        
        itr = self.head
        
        while itr:
            if itr.next == None:
                return "Sorry, we couldnt able to find the "+ data+ " you provided"
            if itr.next.data == data:
                break
                
            itr =itr.next
            
        itr.next = itr.next.next
    
if __name__ == '__main__':

    ll = LinkedList()
    ll.insert_at_beginning(4)
    ll.insert_at_beginning(23)
    ll.insert_at_beginning(32)
    
    ll.insert_values(["banana","grapes",'orange',"297"])
    
    ll.length_ll()
    
    ll.remove_element(0)
    
    ll.insert_at(0,"fig")
    ll.insert_at(1,"Pineapple")
    
    ll.insert_after_value("orange",321)
    ll.remove_by_value("grapes")
    
    ll.print()

The Length of linked list is ::  4
The Length of linked list is ::  4
The Length of linked list is ::  3
The Length of linked list is ::  4
itr is ::::  Node object - {'data': 'fig', 'next': <__main__.Node object at 0x0000026540235190>}

The final Linked List is ::  fig-->Pineapple-->orange-->321-->297-->

In [17]:
ll.insert_values(["banana","mango","grapes","orange"])
ll.print()
ll.insert_after_value("mango","apple") # insert apple after mango
ll.print()
ll.remove_by_value("orange") # remove orange from linked list
ll.print()
ll.remove_by_value("figs")
ll.print()
ll.remove_by_value("banana")
ll.remove_by_value("mango")
ll.remove_by_value("apple")
ll.remove_by_value("grapes")
ll.print()

itr is ::::  Node object - {'data': 'banana', 'next': <__main__.Node object at 0x000002653FBDFE10>}

The final Linked List is ::  banana-->mango-->grapes-->orange-->
itr is ::::  Node object - {'data': 'banana', 'next': <__main__.Node object at 0x000002653FBDFE10>}

The final Linked List is ::  banana-->mango-->apple-->grapes-->orange-->
itr is ::::  Node object - {'data': 'banana', 'next': <__main__.Node object at 0x000002653FBDFE10>}

The final Linked List is ::  banana-->mango-->apple-->grapes-->
itr is ::::  Node object - {'data': 'banana', 'next': <__main__.Node object at 0x000002653FBDFE10>}

The final Linked List is ::  banana-->mango-->apple-->grapes-->
itr is ::::  Node object - {'data': None, 'next': None}

The final Linked List is ::  None-->

Doubly Linked List

In [27]:
class NodeD:
    def __init__(self, prev=None, data=None, next=None):
        self.prev = prev
        self.data = data
        self.next = next
        
    def __str__(self):
        return f"{type(self).__name__} object - {vars(self)}"

In [28]:
class DoublyLinkedList:
    def __init__(self):
        self.head = None
        
    def __str__(self):
        return f"{type(self).__name__} object - {vars(self)}"
        
    def insert_at_beginning(self,data):
        
        node = NodeD(self.head,data, self.head)
        print("---------",node)
        self.head = node

In [29]:
dll = DoublyLinkedList()

dll.insert_at_beginning(12)

--------- NodeD object - {'prev': None, 'data': 12, 'next': None}