In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20, 10)

In [3]:
df = pd.read_csv("Bengaluru_house_price.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.shape

(13320, 9)

In [5]:
df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [6]:
df1 = df.drop(['availability', 'society'], axis='columns')
df1.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00

### Data Cleaning

In [7]:
df1.isnull().sum()

area_type       0
location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [8]:
### since there are plenty samples with us we can directly drop the na values from the dataset

df2 = df1.dropna()
df2.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [9]:
df2.shape

(12710, 7)

In [10]:
df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))
df2.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_12172\2137667413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

In [12]:
df2['BHK'].unique()

array([ 2,  4,  3,  1,  6,  8,  7,  5, 11,  9, 27, 43, 14, 12, 10, 13],
      dtype=int64)

In [14]:
df2[df2.BHK >= 20]

,area_type,location,size,total_sqft,bath,balcony,price,BHK
1718,Super built-up Area,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Plot Area,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [15]:
df2.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [16]:
df2.groupby('total_sqft')['total_sqft'].agg('count')

total_sqft
1.25Acres        1
1.26Acres        1
1000           170
1000 - 1285      1
10000            2
              ...
995             10
996              4
997              2
998              1
999              3
Name: total_sqft, Length: 1976, dtype: int64

In [17]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [22]:
df2[~df2['total_sqft'].apply(is_float)]

,area_type,location,size,total_sqft,bath,balcony,price,BHK
30,Super built-up Area,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2
...,...,...,...,...,...,...,...,...
12975,Super built-up Area,Whitefield,2 BHK,850 - 1060,2.0,0.0,38.190,2
12990,Super built-up Area,Talaghattapura,3 BHK,1804 - 2273,3.0,0.0,122.000,3
13059,Super built-up Area,Harlur,2 BHK,1200 - 1470,2.0,0.0,72.760,2
13265,Super built-up Area,Hoodi,2 BHK,1133 - 1384,2.0,0.0,59.135,2
13299,Super built-up Area,Whitefield,4 BHK,2830 - 2882,5.0,0.0,154.500,4

In [25]:
def convert_sqft_range(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [26]:
convert_sqft_range('123123- 123123')

123123.0

In [27]:
df3 = df2.copy()
df3['total_sqft'] = df3['total_sqft'].apply(convert_sqft_range)
df3.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2

In [29]:
df3[~df3['total_sqft'].apply(is_float)].head()

Empty DataFrame
Columns: [area_type, location, size, total_sqft, bath, balcony, price, BHK]
Index: []

In [30]:
df3.isnull().sum()

area_type      0
location       0
size           0
total_sqft    42
bath           0
balcony        0
price          0
BHK            0
dtype: int64

In [31]:
df4 = df3.dropna()
df4.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
BHK           0
dtype: int64

In [32]:
df4.shape

(12668, 8)

In [33]:
df4.price.unique()

array([ 39.07, 120.  ,  62.  , ...,  40.14, 231.  , 488.  ])

In [34]:
df4[~df4['price'].apply(is_float)].head()

Empty DataFrame
Columns: [area_type, location, size, total_sqft, bath, balcony, price, BHK]
Index: []

Then fine with the price column as well

### Feature Engineering

In [36]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df4['total_sqft']
df5.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [37]:
len(df5.location.unique())

1259

In [38]:
df5.location = df5.location.apply(lambda x: x.strip())

location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending = False)
location_stats

location
Whitefield              514
Sarjapur  Road          372
Electronic City         302
Kanakpura Road          259
Thanisandra             233
                       ...
1 Giri Nagar              1
Kanakapura  Rod           1
Kanakapura Main Road      1
Kanakapura Road           1
whitefiled                1
Name: location, Length: 1248, dtype: int64

In [47]:
len(location_stats[location_stats<=10])

1013

In [48]:
location_stats_l_10 = location_stats[location_stats<=10]

In [49]:
location_stats_l_10

location
Nagappa Reddy Layout    10
Thyagaraja Nagar        10
Ganga Nagar             10
Naganathapura           10
Dairy Circle            10
                        ..
1 Giri Nagar             1
Kanakapura  Rod          1
Kanakapura Main Road     1
Kanakapura Road          1
whitefiled               1
Name: location, Length: 1013, dtype: int64

In [50]:
len(df5.location.unique())

1248

In [51]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_l_10 else x)
len(df5.location.unique())

236

In [52]:
df5.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [53]:
df5.head(10)

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000
5,Super built-up Area,Whitefield,2 BHK,1170.0,2.0,1.0,38.00,2,3247.863248
8,Super built-up Area,Marathahalli,3 BHK,1310.0,3.0,1.0,63.25,3,4828.244275
10,Super built-up Area,Whitefield,3 BHK,1800.0,2.0,2.0,70.00,3,3888.888889
11,Plot Area,Whitefield,4 Bedroom,2785.0,5.0,3.0,295.00,4,10592.459605
12,Super built-up Area,7th Phase JP Nagar,2 BHK,1000.0,2.0,1.0,38.00,2,3800.000000

In [56]:
df5.tail(60)

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
13255,Super built-up Area,Marathahalli,2 BHK,1146.0,2.0,1.0,69.000,2,6020.942408
13256,Super built-up Area,Kudlu,2 BHK,1041.0,2.0,1.0,53.000,2,5091.258405
13257,Super built-up Area,Whitefield,3 BHK,1453.0,2.0,2.0,58.000,3,3991.741225
13258,Super built-up Area,Whitefield,1 BHK,877.0,1.0,1.0,59.000,1,6727.480046
13259,Super built-up Area,Kanakapura,3 BHK,1477.0,2.0,1.0,69.500,3,4705.484089
13260,Built-up Area,Frazer Town,2 BHK,1420.0,2.0,0.0,120.000,2,8450.704225
13261,Plot Area,other,3 Bedroom,2000.0,2.0,2.0,360.000,3,18000.000000
13262,Built-up Area,other,2 BHK,1140.0,1.0,1.0,185.000,2,16228.070175
13263,Built-up Area,Sarjapur Road,3 BHK,1380.0,2.0,2.0,55.000,3,3985.507246
13264,Super built-up Area,other,2 BHK,1095.0,2.0,1.0,57.000,2,5205.479452
13265,Super built-up Area,Hoodi,2 BHK,1258.5,2.0,0.0,59.135,2,4698.847835
13266,Super built-up Area,Varthur,3 BHK,1665.0,3.0,2.0,71.580,3,4299.099099
13267,Super built-up Area,KR Puram,2 BHK,1245.0,2.0,1.0,60.000,2,4819.277108
13268,Super built-up Area,EPIP Zone,4 BHK,3360.0,5.0,2.0,221.000,4,6577.380952
13269,Plot Area,Electronic City,3 Bedroom,2010.0,3.0,2.0,201.000,3,10000.000000
13270,Super built-up Area,Shivaji Nagar,3 BHK,1226.0,2.0,2.0,60.000,3,4893.964111
13271,Super built-up Area,Uttarahalli,2 BHK,1075.0,2.0,1.0,46.760,2,4349.767442
13272,Super built-up Area,Thanisandra,2 BHK,1226.0,2.0,1.0,65.590,2,5349.918434
13273,Super built-up Area,Raja Rajeshwari Nagar,1 BHK,510.0,1.0,1.0,22.000,1,4313.725490
13274,Super built-up Area,Budigere,2 BHK,1153.0,2.0,2.0,60.000,2,5203.816132
13275,Plot Area,Kothannur,4 Bedroom,1600.0,4.0,2.0,45.000,4,2812.500000
13276,Super built-up Area,LB Shastri Nagar,2 BHK,1000.0,2.0,1.0,49.500,2,4950.000000
13278,Built-up Area,other,2 BHK,1256.0,2.0,1.0,65.000,2,5175.159236
13280,Built-up Area,Sarjapur,3 BHK,1425.0,3.0,2.0,57.000,3,4000.000000
13281,Plot Area,Margondanahalli,5 Bedroom,1375.0,5.0,1.0,125.000,5,9090.909091
13282,Super built-up Area,Hosur Road,3 BHK,1919.0,3.0,2.0,117.000,3,6096.925482
13283,Super built-up Area,Neeladri Nagar,3 BHK,2111.0,3.0,2.0,103.000,3,4879.204169
13284,Super built-up Area,Bannerghatta Road,2 BHK,970.0,2.0,1.0,57.000,2,5876.288660
13285,Super built-up Area,other,2 BHK,1353.0,2.0,2.0,110.000,2,8130.081301
13286,Super built-up Area,Jalahalli,3 BHK,1405.0,2.0,1.0,85.000,3,6049.822064
13287,Super built-up Area,Gubbalala,2 BHK,1285.0,2.0,2.0,90.000,2,7003.891051
13288,Super built-up Area,Mahadevpura,2 BHK,1050.0,2.0,1.0,42.000,2,4000.000000
13289,Super built-up Area,Hebbal,2 BHK,1349.0,2.0,1.0,96.800,2,7175.685693
13290,Super built-up Area,Sarjapur Road,4 BHK,4050.0,2.0,1.0,450.000,4,11111.111111
13291,Plot Area,other,1 Bedroom,812.0,1.0,0.0,26.000,1,3201.970443
13292,Super built-up Area,other,3 BHK,1440.0,2.0,2.0,63.930,3,4439.583333
13293,Super built-up Area,Sarjapur Road,4 BHK,2425.0,5.0,1.0,195.000,4,8041.237113
13294,Super built-up Area,Sultan Palaya,4 BHK,2200.0,3.0,3.0,80.000,4,3636.363636
13295,Super built-up Area,Haralur Road,3 BHK,1810.0,3.0,2.0,112.000,3,6187.845304
13296,Super built-up Area,Cox Town,2 BHK,1200.0,2.0,2.0,140.000,2,11666.666667
13297,Super built-up Area,Electronic City,2 BHK,1060.0,2.0,1.0,52.000,2,4905.660377
13298,Super built-up Area,Kenchenahalli,2 BHK,1015.0,2.0,2.0,60.000,2,5911.330049
13299,Super built-up Area,Whitefield,4 BHK,2856.0,5.0,0.0,154.500,4,5409.663866
13300,Plot Area,Hosakerehalli,5 Bedroom,1500.0,6.0,2.0,145.000,5,9666.666667
13301,Super built-up Area,Kothanur,3 BHK,1454.0,3.0,3.0,71.500,3,4917.469051
13302,Super built-up Area,other,2 BHK,1075.0,2.0,2.0,48.000,2,4465.116279
13303,Plot Area,Vidyaranyapura,5 Bedroom,774.0,5.0,3.0,70.000,5,9043.927649
13304,Super built-up Area,Raja Rajeshwari Nagar,2 BHK,1187.0,2.0,2.0,40.140,2,3381.634372
13305,Carpet Area,Hulimavu,1 BHK,500.0,1.0,3.0,220.000,1,44000.000000
13307,Built-up Area,Billekahalli,3 BHK,1805.0,3.0,3.0,134.000,3,7423.822715
13308,Built-up Area,Bannerghatta Road,3 BHK,1527.0,3.0,1.0,142.000,3,9299.279633
13310,Super built-up Area,Rachenahalli,2 BHK,1050.0,2.0,2.0,52.710,2,5020.000000
13311,Plot Area,Ramamurthy Nagar,7 Bedroom,1500.0,9.0,2.0,250.000,7,16666.666667
13312,Super built-up Area,Bellandur,2 BHK,1262.0,2.0,2.0,47.000,2,3724.247227
13313,Super built-up Area,Uttarahalli,3 BHK,1345.0,2.0,1.0,57.000,3,4237.918216
13314,Super built-up Area,Green Glen Layout,3 BHK,1715.0,3.0,3.0,112.000,3,6530.612245
13315,Built-up Area,Whitefield,5 Bedroom,3453.0,4.0,0.0,231.000,5,6689.834926
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.0,60.000,2,5258.545136
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689.0,4.0,1.0,488.000,4,10407.336319
13319,Super built-up Area,Doddathoguru,1 BHK,550.0,1.0,1.0,17.000,1,3090.909091

In [57]:
df5.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [59]:
one_hot_encoded = pd.get_dummies(df['area_type'])

# Concatenate the one-hot encoded columns with the original DataFrame

df6 = pd.concat([df5, one_hot_encoded], axis=1)

In [63]:
df6.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2.0,3699.810606,0,0,0,1
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4.0,4615.384615,0,0,1,0
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3.0,4305.555556,1,0,0,0
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3.0,6245.890861,0,0,0,1
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2.0,4250.000000,0,0,0,1

In [65]:
df7 = df6.drop(columns=['area_type'])

In [66]:
df7.head()

,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2.0,3699.810606,0,0,0,1
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4.0,4615.384615,0,0,1,0
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3.0,4305.555556,1,0,0,0
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3.0,6245.890861,0,0,0,1
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2.0,4250.000000,0,0,0,1